.margin-top-left{
  	margin: 0;
	padding: 50px;
	min-width: 150px;
}

nav ul a{
	color: black;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 2px;
	-webkit-transition: color .5s, background-color .8s, font-weight .3s;
	transition: color .5s background-color .8s, font-weight .3s;
}

nav ul a:hover{
	color: white;
}

nav, nav .nav-wrapper {
    background-color: transparent;
}

nav {
    box-shadow: none;
}

.page-footer{
	margin-top: 0 !important;
	color: black;
}

.stylish-gradient{
	color: transparent !important;
	background-image:-webkit-radial-gradient(45% center, circle, rgba(39, 52, 99,0.9) 40%, rgba(139,66,86,0.9));
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.nopadding{
  padding: 0;
}

.footer-form-row{
    margin-bottom: 0;
}

input[type=text], input[type=email]{
    background-color: white;
    padding-left: 5px;
}

label {
    color: #ffd54f; /* red */
    color: black;
}

input[type=text]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label {
    color: #ffd54f; /*  Yellow  */
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ffd54f;
}

.slider {
    margin-top: -64px;
    z-index: -1;
}
